<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LND - eCommerce Website</title>

    <!-- 
        favicon
     -->
    <link rel="shortcut icon" href="images/logo/android-chrome-192x192.png" type="image/x-icon">
    <!-- 
        css bootstrap
     -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- 
        font google
     -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- icons -->
    <link rel="stylesheet" href="icons/css/all.css">
    <!-- 
        css owlcarousel
     -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- 
        custom css link
     -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body ng-app="myApp">
    <section class="header sticky-top z-99999 bg-white" ng-controller="headerCtrl">
        <header>
            <div ng-include="'layout/headertop.html'"></div>

            <section class="header-main mt-3 ">
                <div class="container">
                    <div class="row">
                        <div class="brand d-lg-none d-block ">
                            <a href="" class="navbar-brand ">
                                <img src="images/logo/logo.svg" alt="" srcset="" width="130" height="50">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 mt-2 ">
                            <div class="brand d-none d-xl-block d-lg-block">
                                <a href="" class="navbar-brand ">
                                    <img src="images/logo/logo.svg" alt="" srcset="" width="130" height="50">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-8 p-0 mt-3">
                            <div class="header-midle-search mx-auto">
                                <input type="text" class="form-control" ng-model="$root.key" placeholder="Nhập Tên Sản Phẩm">
                                <button ng-click="search()" class="btn-search">
                                    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-2 mt-3 ">
                            <div class="header-midle-user">
                                <ul class="d-none d-lg-block navbar-nav" style="font-size: 24px;">
                                    <div class="row text-center">
                                        <li class="nav-item col-3 dropdown" ng-show="isUser">
                                            <a class="nav-link dropdown " id="dropdownUser" data-bs-toggle="dropdown" role="button">
                                                <ion-icon name="person-outline" role="img" class="md hydrated" aria-label="person outline"></ion-icon>
                                            </a>
                                            <ul class="dropdown-menu" style="border: 1px solid #f2f2f2;" aria-labelledby="dropdownMenuLink">
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center gap-2 mb-2 mt-2" style="font-weight: 600;" href="#!/login">
                                                        Đăng Nhập <ion-icon style="font-size: 24px;" name="log-in-outline"></ion-icon>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item col-3 dropdown" ng-hide="isAvatar">
                                            <a class="nav-link dropdown " id="dropdownUser" data-bs-toggle="dropdown" role="button">
                                                <img src="{{avatar}}" alt="" srcset="" width="24" height="24" style="border-radius: 10px;">
                                            </a>
                                            <ul class="dropdown-menu text-center" style="border: 1px solid #f2f2f2;" aria-labelledby="dropdownMenuLink">
                                                <div class="info-customer">
                                                    <img class="avatar-img mb-2 mt-2 " src="{{avatar}}" alt="" srcset="">
                                                    <h3 class="customer-name">{{fullname}}</h3>
                                                    <p>Tài Khoản Của Bạn</p>
                                                    <hr>
                                                    <div class="customer-content">
                                                        <ul class="navbar-nav p-0">
                                                            <li>
                                                                <a class="dropdown-item d-flex" href="">Hồ Sơ Cá Nhân</a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item d-flex" href="">Thêm Tài Khoản</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <hr>
                                                    <div class="customer-content-other">
                                                        <li>
                                                            <a class="dropdown-item d-flex" href="">Cài Đặt</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item d-flex" href="">Điều Chỉnh Bảng Tin</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item d-flex" href="">Cài Đặt Ứng Dụng Windows</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item d-flex" href="">Quyền Riêng Tư Của Bạn</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item d-flex" href="">Nhận Trợ Giúp</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item d-flex" href="">Xem Điều Khoản Dịch Vụ</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item d-flex" href="">Xem Chính Sách Quyền Riêng Tư Của Bạn</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item d-flex align-items-center gap-2 mb-2" style="font-weight: 600;" ng-click="logout()">
                                                                Đăng Xuất <ion-icon style="font-size: 24px;" name="log-in-outline"></ion-icon>
                                                            </a>
                                                        </li>
                                                    </div>
                                                </div>
                                            </ul>
                                        </li>
                                        <li class="nav-item col-3">
                                            <a class="nav-link " href="#"><ion-icon name="heart-outline" role="img" class="md hydrated" aria-label="heart outline"></ion-icon>
                                            </a>
                                        </li>
                                        <li class="nav-item col-3">
                                            <a class="nav-link" href="#"><ion-icon name="bag-handle-outline" role="img" class="md hydrated" aria-label="bag handle outline"></ion-icon>
                                            </a>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div ng-include="'layout/headerbottom.html'"></div>
        </header>
    </section>
    <div ng-include="'layout/navbarmobile.html'"></div>
    <div class="">
        <ng-view></ng-view>
    </div>
    <div ng-include="'layout/footer.html'"></div>

</body>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.6.3.min.js"></script>
<script src="js/owl.carousel.min.js"></script>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script src="js/angular.min.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/app/app.js"></script>
<script src="js/service/productService.js"></script>
<script src="js/controller/headerCtrl.js"></script>
<script src="js/controller/loginCtrl.js"></script>
<script src="js/controller/clothesCtrl.js"></script>

</html>