<section class="footer mt-5">
    <footer>
        <section class="footer-category p-5">
            <div class="container">
                <h2 class="footer-category-title">Loại Sản Phẩm</h2>
                <div class="footer-category-box d-flex flex-wrap align-items-center">
                    <h3 class="category-box-title m-0">Fashion :</h3>
                    <a href="" class="footer-category-link text-decoration-none">Áo Thun</a>
                    <a href="" class="footer-category-link text-decoration-none">Áo Sơ Mi</a>
                    <a href="" class="footer-category-link text-decoration-none">Quần Shorts & Jeans</a>
                    <a href="" class="footer-category-link text-decoration-none">Áo Khoác</a>
                    <a href="" class="footer-category-link text-decoration-none">Váy & Đầm</a>
                </div>
                <div class="footer-category-box d-flex flex-wrap align-items-center">
                    <h3 class="category-box-title m-0">Giày Dép :</h3>
                    <a href="" class="footer-category-link text-decoration-none">Thể Thao</a>
                    <a href="" class="footer-category-link text-decoration-none">Truyền Thống</a>
                    <a href="" class="footer-category-link text-decoration-none">Hiện Đại</a>
                    <a href="" class="footer-category-link text-decoration-none">Dạ Hội</a>
                    <a href="" class="footer-category-link text-decoration-none">Giày Cao Bồi</a>
                    <a href="" class="footer-category-link text-decoration-none">Thương Hiệu</a>
                    <a href="" class="footer-category-link text-decoration-none">Giày Dài</a>
                </div>
                <div class="footer-category-box d-flex flex-wrap align-items-center">
                    <h3 class="category-box-title m-0">Trang Sức :</h3>
                    <a href="" class="footer-category-link text-decoration-none">Vòng Cổ</a>
                    <a href="" class="footer-category-link text-decoration-none">Bông Tai</a>
                    <a href="" class="footer-category-link text-decoration-none">Nhẫn</a>
                    <a href="" class="footer-category-link text-decoration-none">Mặt Dây Chuyền</a>
                    <a href="" class="footer-category-link text-decoration-none">Pha Lê</a>
                    <a href="" class="footer-category-link text-decoration-none">Lắc Tay</a>
                    <a href="" class="footer-category-link text-decoration-none">Nhẫn Cặp</a>
                    <a href="" class="footer-category-link text-decoration-none">Kiềng</a>
                </div>
                <div class="footer-category-box d-flex flex-wrap align-items-center">
                    <h3 class="category-box-title m-0">Làm Đẹp</h3>
                    <a href="" class="footer-category-link text-decoration-none">Dầu Gội</a>
                    <a href="" class="footer-category-link text-decoration-none">Bộ Trang Điểm</a>
                    <a href="" class="footer-category-link text-decoration-none">Son Môi</a>
                    <a href="" class="footer-category-link text-decoration-none">Nước Hoa</a>
                    <a href="" class="footer-category-link text-decoration-none">Thuốc Nhuộm Tóc</a>
                    <a href="" class="footer-category-link text-decoration-none">Kem Chống Nắng</a>
                    <a href="" class="footer-category-link text-decoration-none">Son Môi</a>
                </div>
            </div>
        </section>
        <section class="footer-nav">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="list-group list-group-light ">
                            <li class="list-group-item border-0">
                                <h2 class="footer-nav-title">
                                    Công Ty Của Chúng Tôi
                                </h2>
                            </li>
                            <li class="list-group-item border-0">
                                <a class="footer-nav-link" href="">Giới Thiệu</a>
                            </li>
                            <li class="list-group-item border-0">

                                <a class="footer-nav-link" href="">Chính Sách</a>
                            </li>
                            <li class="list-group-item border-0">
                                <a class="footer-nav-link" href="">Các Điều Khoản</a>
                            </li>
                            <li class="list-group-item border-0">
                                <a class="footer-nav-link" href="">Giao Hàng</a>
                            </li>
                            <li class="list-group-item border-0">
                                <a class="footer-nav-link" href="">An Toàn Giao Dịch</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="list-group list-group-light ">
                            <li class="list-group-item border-0">
                                <h2 class="footer-nav-title">
                                    Dịch Vụ Của Chúng Tôi
                                </h2>
                            </li>
                            <li class="list-group-item border-0">
                                <a class="footer-nav-link" href="">Giảm Giá</a>
                            </li>
                            <li class="list-group-item border-0">

                                <a class="footer-nav-link" href="">Sản Phẩm Mới</a>
                            </li>
                            <li class="list-group-item border-0">
                                <a class="footer-nav-link" href="">Hàng Bán Chạy Nhất</a>
                            </li>
                            <li class="list-group-item border-0">
                                <a class="footer-nav-link" href="">Liên Hệ Với Chúng Tôi</a>
                            </li>
                            <li class="list-group-item border-0">
                                <a class="footer-nav-link" href="">Sitemap</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="list-group list-group-light ">
                            <li class="list-group-item border-0">
                                <h2 class="footer-nav-title">
                                    Thông Tin Liên Hệ
                                </h2>
                            </li>
                            <li class="list-group-item border-0" style="color: #787878; font-size: 18px;">
                                <ion-icon name="location-outline" role="img" class="md hydrated"
                                    aria-label="location outline"></ion-icon>
                                123456789A,Phú Lợi,Xã Tân Phú Trung, Huyện Củ Chi, TP.Hồ Chí Minh.
                            </li>
                            <li class="list-group-item border-0" style="color: #787878; font-size: 18px;">
                                <ion-icon name="call-outline" role="img" class="md hydrated"
                                    aria-label="call outline"></ion-icon>
                                <a class="footer-nav-link" href=""> ĐT: 028 39951703 - Fax: 028 3995 1702</a>
                            </li>
                            <li class="list-group-item border-0" style="color: #787878;font-size: 18px;">
                                <ion-icon name="mail-outline" role="img" class="md hydrated"
                                    aria-label="mail outline"></ion-icon>
                                <a class="footer-nav-link" href="">Mail@Gmail.com</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>
        <section class="footer-bottom text-center">
            <div class="container ">
                <img class="" src="images/payment.png" alt="" srcset="">
                <p class="copyright">
                    Copyright ©
                    <a class="text-decoration-none" style="color: #787878;" href="">LND</a>
                    all rights reserved.
                </p>
            </div>
        </section>
    </footer>
</section>