<hr class="d-none d-lg-block ">
<section class="header-bottom ">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <div class="offcanvas offcanvas-start container" id="offcanvasExample1" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel1">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body ">
                    <div class="mx-auto">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#!home">Trang Chủ</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                                    Loại Sản Phẩm
                                </a>
                                <div class="dropdown-menu p-3">
                                    <ul class="mx-auto">
                                        <li><a href="" class="dropdown-item disabled">Công Nghệ</a></li>
                                        <li><a href="" class="dropdown-item">Pc & Laptop</a></li>
                                        <li><a href="" class="dropdown-item">Máy Ảnh</a></li>
                                        <li><a href="" class="dropdown-item">Điện Thoại</a></li>
                                        <li><a href="" class="dropdown-item">Máy Tính Bảng</a></li>
                                        <li><a href="" class="dropdown-item">Tai Nghe</a></li>
                                        <!-- <img class="d-none d-sm-block"
                                            src="https://img.freepik.com/free-photo/beautiful-smiling-woman-dressed-jeans-clothes_158538-19171.jpg?w=1380&t=st=1674803984~exp=1674804584~hmac=e130f623c0e971c4c8dae2d7b3d93008a3223751ba9ea9e23f5bb249917c038d"
                                            alt="" width="210" style="border-radius: 10px;"> -->
                                    </ul>
                                    <ul class="mx-auto">
                                        <li><a href="" class="dropdown-item disabled">Nam Giới</a></li>
                                        <li><a href="#!/clothes" class="dropdown-item">Áo Thun</a></li>
                                        <li><a href="" class="dropdown-item">Đám Tiệc</a></li>
                                        <li><a href="" class="dropdown-item">Áo Khoác</a></li>
                                        <li><a href="" class="dropdown-item">Thể Thao</a></li>
                                        <li><a href="" class="dropdown-item">Năng Động</a></li>
                                        <!-- <img class="d-none d-sm-block"
                                            src="https://img.freepik.com/free-photo/portrait-young-handsome-man-buttoning-his-jacket_171337-19819.jpg?w=1380&t=st=1674803683~exp=1674804283~hmac=062461bb28b2bf62ae184d2eab5ee038e79196a4a61479b791c5e20ac078769c"
                                            alt="" srcset="" width="210" style="border-radius: 10px;"> -->
                                    </ul>
                                    <ul class="mx-auto">
                                        <li><a href="" class="dropdown-item disabled">Nữ Giới</a></li>
                                        <li><a href="" class="dropdown-item">Dạ Hội</a></li>
                                        <li><a href="" class="dropdown-item">Nước Hoa</a></li>
                                        <li><a href="" class="dropdown-item">Làm Đẹp</a></li>
                                        <li><a href="" class="dropdown-item">Túi Xác</a></li>
                                        <li><a href="" class="dropdown-item">Giản Dị</a>
                                            <!-- <img class="d-none d-sm-block"
                                                src="https://img.freepik.com/free-photo/pensive-asian-woman-black-hat-looking-camera-studio-shot-glamorous-japanese-model-isolated-beige-background_197531-14544.jpg?w=1380&t=st=1674804091~exp=1674804691~hmac=3d37716602dc9ae557e0b6559649274b14170cc95eb33c012bbc35fa54ecb2fc"
                                                alt="" srcset="" width="210" style="border-radius: 10px;"> -->
                                    </ul>
                                    <ul class="mx-auto">
                                        <li><a href="" class="dropdown-item disabled">Điện Tử</a></li>
                                        <li><a href="" class="dropdown-item">Smart Watch</a> </li>
                                        <li><a href="" class="dropdown-item">Smart TV</a> </li>
                                        <li><a href="" class="dropdown-item">Keyboard</a></li>
                                        <li><a href="" class="dropdown-item">Mouse</a></li>
                                        <li><a href="" class="dropdown-item">Microphone</a></li>
                                        <!-- <img class="d-none d-sm-block"
                                            src="https://img.freepik.com/free-photo/panoramic-view-white-office-desk-with-laptop-apple-stationeries_23-2148178597.jpg?w=1380&t=st=1674804319~exp=1674804919~hmac=2073867538af104cfc732a17145ace3c7efbaffc23ded636bf6598a1ccefceb3"
                                            alt="" srcset="" width="210" style="border-radius: 10px;"> -->
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                                    Nam Giới
                                </a>
                                <div class="dropdown-menu ">
                                    <ul class="mx-auto">
                                        <li><a href="" class="dropdown-item disabled">Nam</a></li>
                                        <li><a href="" class="dropdown-item">Áo Khoác</a></li>
                                        <li><a href="" class="dropdown-item">Áo Sơ Mi</a></li>
                                        <li><a href="" class="dropdown-item">Ví Tiền</a></li>
                                        <li><a href="" class="dropdown-item">Quần Short & Jean</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                                    Phụ Nữ
                                </a>
                                <div class="dropdown-menu ">
                                    <ul class="mx-auto">
                                        <li><a href="" class="dropdown-item disabled">Nữ Giới</a></li>
                                        <li><a href="" class="dropdown-item">Dạ Hội</a></li>
                                        <li><a href="" class="dropdown-item">Nước Hoa</a></li>
                                        <li><a href="" class="dropdown-item">Làm Đẹp</a></li>
                                        <li><a href="" class="dropdown-item">Túi Xác</a></li>
                                        <li><a href="" class="dropdown-item">Giản Dị</a></li>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown" data-bs-toggle="dropdown" aria-expanded="false" href="#">Trang
                                    Sức</a>
                                <div class="dropdown-menu p-3 ">
                                    <ul>
                                        <li><a href="" class="dropdown-item disabled">Chủng Loại</a></li>
                                        <li><a href="" class="dropdown-item">Nhẫn</a></li>
                                        <li><a href="" class="dropdown-item">Bông Tai</a></li>
                                        <li><a href="" class="dropdown-item">Lắc</a></li>
                                        <li><a href="" class="dropdown-item">Vòng</a></li>
                                        <li><a href="" class="dropdown-item">Kiềng</a></li>
                                        <li><a href="" class="dropdown-item">Mặt Dây Chuyền</a></li>
                                        <li><a href="" class="dropdown-item">Dây Cổ</a></li>
                                        <li><a href="" class="dropdown-item">Charm </a></li>
                                        <li><a href="" class="dropdown-item">Vàng Tài Lộc</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="" class="dropdown-item disabled">Chất Liệu</a></li>
                                        <li><a href="" class="dropdown-item">Vàng</a></li>
                                        <li><a href="" class="dropdown-item">Bạc</a></li>
                                        <li><a href="" class="dropdown-item">Platium</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="" class="dropdown-item disabled">Dòng Hàng</a></li>
                                        <li><a href="" class="dropdown-item">Trang Sức Đính Kim Cương</a>
                                        </li>
                                        <li><a href="" class="dropdown-item disabled">Trang Sức Đính
                                                ECZ-CZ</a></li>
                                        <li><a href="" class="dropdown-item">Trang Sức Đính Đá Quý Và Bán
                                                Quý</a></li>
                                        <li><a href="" class="dropdown-item">Trang Sức Công Nghệ Ý</a></li>
                                        <li><a href="" class="dropdown-item">Trang Sức Đính Ngọc Trai</a>
                                        </li>
                                        <li><a href="" class="dropdown-item">Trang Sức Đính CZ</a></li>
                                        <li><a href="" class="dropdown-item">Trang Sức Không Đính Đá</a>
                                        </li>
                                        <li><a href="" class="dropdown-item">Kim Cương Viên</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="" class="dropdown-item disabled">Bộ Sưu Tập</a></li>
                                        <li><a href="" class="dropdown-item">Thần Tài 2023</a></li>
                                        <li><a href="" class="dropdown-item">Lucky Mickey</a></li>
                                        <li><a href="" class="dropdown-item">Nàng Tiên Cá Ariel</a></li>
                                        <li><a href="" class="dropdown-item">Alice In Wonderland</a></li>
                                        <li><a href="" class="dropdown-item">The Merier</a></li>
                                        <li><a href="" class="dropdown-item">Sứ Giả Mùa Xuân</a></li>
                                        <li><a href="" class="dropdown-item">Nụ Cười Tầm Xuân</a></li>
                                        <li><a href="" class="dropdown-item">Thần Tài 2022</a></li>
                                        <li><a href="" class="dropdown-item">Tinker Bell</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Nước Hoa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" style="color: #FF8F9E;">Khuyến Mãi</a>
                            </li>
                        </ul>

                    </div>
                    <br>
                    <div class="menu-bottom mt-3">
                        <div class="menu-category">
                            <ul class="navbar-nav d-lg-none d-block">
                                <li class="list-group-item border-0 mb-3">
                                    <div data-bs-toggle="collapse" data-bs-target="#language" class="collapsed before after ">
                                        <div class="d-flex align-items-center" style="gap: 10px;">
                                            <p class="menu-title m-0">Ngôn Ngữ</p>
                                            <div class="ms-auto">
                                                <ion-icon name="caret-back-outline" class="caret-back" role="img" aria-label="caret back outline"></ion-icon>
                                            </div>
                                        </div>
                                        <div id="language" class="collapse ">
                                            <hr>
                                            <div class="product ">
                                                <p class="language-name" href="">English</p>
                                            </div>
                                            <div class="product">
                                                <p class="language-name" href="">Vietnamese</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 mb-3">
                                    <div data-bs-toggle="collapse" data-bs-target="#currency" class="collapsed before after ">
                                        <div class="d-flex align-items-center" style="gap: 10px;">
                                            <p class="menu-title m-0">Đơn Vị Tiền</p>
                                            <div class="ms-auto">
                                                <ion-icon name="caret-back-outline" class="caret-back" role="img" aria-label="caret back outline"></ion-icon>
                                            </div>
                                        </div>
                                        <div id="currency" class="collapse ">
                                            <hr>
                                            <div class="product ">
                                                <p class="language-name" href="">USD</p>
                                            </div>
                                            <div class="product">
                                                <p class="language-name" href="">VNĐ</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="menu-social-container mt-5 text-center ">
                        <ul class="navbar-nav d-flex d-lg-none d-block">
                            <li class="nav-item">
                                <a class="menu-bottom-social" href="#" aria-current="page">
                                    <ion-icon name="logo-facebook" role="img" class="md hydrated" aria-label="logo facebook"></ion-icon>
                                </a>
                                <a class="menu-bottom-social" href="#" aria-current="page">
                                    <ion-icon name="logo-twitter" role="img" class="md hydrated" aria-label="logo twitter"></ion-icon>
                                </a>
                                <a class="menu-bottom-social" href="#">
                                    <ion-icon name="logo-instagram" role="img" class="md hydrated" aria-label="logo instagram"></ion-icon>
                                </a>
                                <a class="menu-bottom-social" href="#">
                                    <ion-icon name="logo-linkedin" role="img" class="md hydrated" aria-label="logo linkedin"></ion-icon>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </nav>
</section>