<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/clothes.css">
</head>

<body>
    <section class="banner container mt-3 object-fit-cover">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="img">
                        <img src="https://img.freepik.com/premium-photo/stylish-man-sunglasses-puffing-vapor-black_136403-12994.jpg?w=1800" class="d-block rounded-5" width="1296" height="600" alt="...">
                        <div class="banner-content">
                            <p class="banner-subtitle">
                                Áo Thun Nam
                            </p>
                            <h2 class="banner-title ">Thời Trang Áo Nam Mới Nhất</h2>
                            <p class="banner-text">
                                Chỉ Với Giá
                                <b>500</b>.000 <sup>đ</sup>

                            </p>
                            <a href="" class="btn-banner">Shop Now</a>
                        </div>
                    </div>

                </div>
                <div class="carousel-item ">
                    <div class="img">
                        <img src="https://img.freepik.com/premium-photo/portrait-man-widebrimmed-hat-sunglasses-looking-camera-black_136403-13065.jpg?w=1800" class="d-block rounded-5" width="1296" height="600" alt="...">
                        <div class="banner-content">
                            <p class="banner-subtitle">
                                Áo Thun Nam
                            </p>
                            <h2 class="banner-title ">Thời Trang Áo Nam Mới Nhất</h2>
                            <p class="banner-text">
                                Chỉ Với Giá
                                <b>500</b>.000 <sup>đ</sup>

                            </p>
                            <a href="" class="btn-banner">Shop Now</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item ">
                    <div class="img">
                        <img src="https://img.freepik.com/premium-photo/stylish-man-sunglasses-puffing-vapor-black_136403-12994.jpg?w=1800" class="d-block rounded-5 " width="1296" height="600" style="object-position: right;" alt="...">
                        <div class="banner-content">
                            <p class="banner-subtitle">
                                Áo Thun Nam
                            </p>
                            <h2 class="banner-title ">Thời Trang Áo Nam Mới Nhất</h2>
                            <p class="banner-text">
                                Chỉ Với Giá
                                <b>500</b>.000 <sup>đ</sup>

                            </p>
                            <a href="" class="btn-banner">Shop Now</a>
                        </div>
                    </div>

                </div>


            </div>

        </div>

    </section>
    <section class="title-page mt-5">
        <div class="container">
            <h3 class="title text-center">Clothes</h3>
            <div class="page-content">
                <p class="desc text-center">Khi nói đến phong cách quy tắc của chúng tôi là đơn giản. Đó là lý do tại sao chúng tôi đã đem đến cho bạn những chiếc áo đẹp nhất và xinh nhất dành cho bạn. Không có vấn đề gì
                    nếu bạn cần một cái nhìn mới về công việc, chơi, hoặc vị trí sắp tới đó . Chúng tôi đã có những bộ quần áo nóng nhất, trong các thiết kế mới nhất, và luôn giữ cho nó 100% mới.</p>
            </div>
            <hr>
        </div>
    </section>
    <section class="filter-page mt-5">
        <div class="container">
            <div class="row">
                <div class="filter-group d-flex align-items-center gap-1 ">
                    <select name="" id="" class="form-select " ng-model="brand">
                        <option value="" selected>Thương Hiệu</option>
                        <option value="{{brand}}" ng-repeat="brand in uniqueBrands ">{{brand}}</option>
                    </select>
                    <select name="" id="" class="form-select">
                        <option selected>Size</option>
                        <option value="">L</option>
                        <option value="">XL</option>
                        <option value="">M</option>
                        <option value="">N</option>
                    </select>
                    <select name="" id="" class="form-select">
                        <option selected>Màu Sắc</option>
                        <option value="black">Đen</option>
                        <option value="yellow">Vàng</option>
                        <option value="cyan">Xanh Nhạt</option>
                    </select>
                    <select name="" id="" class="form-select">
                        <option selected>Giá Tiền</option>
                    </select>
                    <select name="" id="" class="form-select">
                        <option selected>Đánh Giá</option>
                    </select>
                    <select name="" id="" class="form-select">
                        <option selected>Khu Vực</option>
                    </select>
                </div>
            </div>
            <!-- <h3 class="title m-0">Bộ Lọc : </h3> -->

        </div>
    </section>
    <section class="show-product">
        <div class="container">
            <div class="product-show">
                <div class="product-new mt-5">
                    <div class="row">
                        <div class="col-sm-3 col-md-12 col-lg-6 col-xxl-3" ng-repeat="p in filteredProducts | limitTo : 20 : begin">
                            <div class="card">
                                <div class="card-body">
                                    <div class="show-product-banner mx-auto">
                                        <img src="{{p.images_basic_0}}" style="border-radius: 10px;" class="product-img default" alt="">
                                        <img src="{{p.images_basic_1}}" style="border-radius: 10px;" class="product-img hover" alt="">
                                        <p class="show-product-badge">Hot</p>
                                        <div class="show-product-actions">
                                            <button href="" class="btn-action">
                                                <a href="">
                                                    <i href="" class="fa-regular fa-heart"></i>
                                                </a>
                                            </button>
                                            <br>
                                            <button class="btn-action">
                                                <a href="">
                                                    <i class="fa-regular fa-eye"></i>
                                                </a>
                                            </button>
                                            <br>
                                            <button class="btn-action">
                                                <a href="">
                                                    <i class="fa-solid fa-repeat"></i>
                                                </a>
                                            </button>
                                            <br>
                                            <button class="btn-action">
                                                <a ng-click="addToCart(p)" href="">
                                                    <i class="fa-solid fa-bag-shopping"></i>
                                                </a>
                                            </button>
                                        </div>
                                        <div class="show-product-content">

                                            <a class="text-decoration-none" href="">
                                                <h3 class="product-name">
                                                    {{p.product_name}}
                                                </h3>
                                            </a>

                                            <div class="show-product-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star-half-stroke"></i>
                                            </div>
                                            <div class="price-box d-flex">
                                                <p class="price"> <b>{{p.price | currency : "" : 0}}<sup>đ</sup></b> </p>
                                                <del>900.000 <sup>đ</sup></del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="pagination-product">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a ng-click="prev()" class="page-link " aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item " ng-repeat="i in [].constructor(pageCount) track by $index">
                    <a class="page-link " ng-class="{'active': currentPage === $index + 1}" ng-click="goToPage($index+1)">{{$index+1}}</a>
                </li>

                <li class="page-item">
                    <a ng-click="next()" class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</body>


</html>